<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Body Journal</h1>
    <p>Sign In</p>
    <form>
  		Username:<br>
  		<input type="text" name="username"><br>
  		Password:<br>
  		<input type="text" name="password">
	</form>
  </body>
</html>
